
#page2{
    width:100%;
    background-color: white;
    padding-bottom: 40px;
    
    .archives{
        width: 70%;
        margin:auto;
        .text{
            padding:15px;
            display: flex;
            flex-direction: row;
            h1{
                font-size: 300%;
                font-weight: normal;
            }
            span{
                color:$color_1;
                font-weight: bold;
            }
            .splotch{
                position: relative;
            }
            img{
                position: absolute;
                width:60%;
                top:15%;
                right:15%;

                border-radius: 50%;
            }
        }




    button{
        background-color: $color_1;
        border:none;
        color: white;
        border-radius: 15px;
        padding:4px 30px;
    }
    .slider{
   width:100%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        img{
            width:33%;
        }
    }
    }

}